h1

{
   
    text-align:center;
}
h2

{
   
    text-align:center;
}
.a
{
    
}
#b
{
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, 'sans-serif ';
}

:button{
   
    color: rgb(170, 103, 16);
}
